@import "../../assets/scss/3-base/variables";
.section-bg {
  background: $orange;
  background: -moz-linear-gradient(-45deg, rgba(244,128,19,1) 0%, rgba(242,148,60,1) 37%, rgba(242,148,60,1) 37%, rgba(244,128,19,1) 67%, rgba(216,93,17,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(244,128,19,1) 0%,rgba(242,148,60,1) 37%,rgba(242,148,60,1) 37%,rgba(244,128,19,1) 67%,rgba(216,93,17,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(244,128,19,1) 0%,rgba(242,148,60,1) 37%,rgba(242,148,60,1) 37%,rgba(244,128,19,1) 67%,rgba(216,93,17,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f48013', endColorstr='#d85d11',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.section-bg:after {
  content: '';position: absolute;top: 0;left:0;right: 0;bottom: 0;z-index: 1;
}
h1 {
  max-width: 678px;
}

.main-jumbotron {
  max-width: 100%;
  overflow-x: hidden;
  .box-button {
    position: absolute;
    right: 38px;
    bottom: 20px;
    z-index:3;
  }
  .box {
    padding: 20px 10px 20px 50px;
    min-height: 380px;
    &:after {
      content:'';position:absolute;top:0;left:0;right:0;bottom:0;
      background: rgba(0,0,0,.2);
      z-index: 2;
      transition: .3s;
    }
    .content {
      position: relative;
      z-index: 10;
    }
  }
}

.main-news {
  overflow: hidden;
  .container {
    position: relative;
    z-index:2;
  }
  .box {
    margin: 0 auto 2rem;
  }
  .bg-image{
    position: absolute;
    z-index:1;
    bottom: 0;
    opacity: .4;
    &.bg-image-left {
      left: 0;
      width: 170px;
    }
    &.bg-image-right {
      right: -80px;
      width: 200px;
    }
  }
}
