.form-group label {
  font-size: 1.4rem;
  color: #333;
}
.form-group .form-control {
  padding: 11px 15px;
  font-size: 1.4rem;
  font-weight: 400;
  border-color: #EFEFEF;
  background: #FCFCFC;
  border-radius: 5px;
  &::placeholder {
    color: #a7a6aa;
  }
  &.disabled, &[disabled] {
    background: #edebf1;;
    color: #a7a6aa;;
  }
  &.no-valid {
    border: 1px solid $red;
  }
}
form .notifier {
  font-size: 1.4rem;
  color: #a7a6aa;
}