.color-inherit {
  color: inherit;
}
.color-white {
  color: $white
}
.bg-white {
  background-color: $white;
}

.color-black {
  color: $black;
}
.bg-black {
  background-color: $black;
}

.color-light-yellow {
  color: $light-yellow;
}
.bg-light-yellow {
  background-color: $light-yellow;
}

.color-orange {
  color: $orange;
}
.bg-orange {
  background-color: $orange;
}