//Пути для ссылок
$path-root: '../../assets';
$path-fonts: $path-root + '/fonts';
$path-img: $path-root + '/img';

//Цвета с дизайна
$black: #000;
$white: #FFF;
$light-gray: #a7a6aa;
$light-yellow: #FFF7EA;
$gray: #E1E1E1;
$orange: #f48013;
$orange2: #F68000;
$red: #ae1930;

